<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Portfolio page here</title>
  </head>
  <body>
    {{> header}}
    <p>{{screamIt welcomeMessage}}</p>

    {{> footer}}
  </body>
</html>
